# ignorowane
eclipse/
jdk/
wildfly-10.1.0.Final/
workspace/.metadata/
workspace/.recommenders/
workspace/BDII_Kino/dist/
workspace/BDII_Kino/.idea/
sqldeveloper/
*.iml
*.class
*.idea

# za wyjatkiem
!wildfly-10.1.0.Final\standalone\configuration\standalone.xml
!wildfly-10.1.0.Final\standalone\configuration\mgmt-users.properties
!wildfly-10.1.0.Final\modules\system\layers\base\com\oracle\*
