html, body {
    margin:0;
    padding:0;
    height:100%;
    font-family: Verdana, sans-serif;
}
.header{
    margin: auto;
    padding:1px;
    background: black;
}

.header .box{
    margin: auto;
    width: 70%;
    padding:1px;
}

.mainpart{
    margin:0;
    padding:0;
    margin: auto;
    background: grey;
}

.mainpart .box{
    margin: auto;
    width: 70%;
    height:100%;
    padding:1px;
}

.mainpart .content{
  text-align: center;
  background:#fbfcfc;
  border-bottom:solid 1px #e0e0e0;
}

.table td{
    text-align: center;
    background:#fbfcfc;
    border-bottom:solid 1px #e0e0e0;
    padding:8px 10px;
}

#popupBox{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 120%;
    background-color: rgba(0,0,0,0.7);
    display: none;
}

.popupBoxWrapper{
    width: 780px;
    margin: 200px auto;
    text-align: left;
}

.popupBoxContent{
    background-color: #FFF;
    padding: 15px;
    border: 1px;
    border-style: solid;
    border-radius: 5px;
}

.popupBoxContent h1{
    text-align:center;
    font-color:grey;
}

.popupBoxContent p{
    font-size:small;
    font-color:grey;
    padding-top:0px;
    padding-bottom: 0px;
}
